<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{ book.title }}</h1>
        <p><strong>Id</strong> {{ book.id }}</p>
        <p><strong>Description</strong> {{ book.desc }}</p>
        <p><strong>Authors</strong></p>
        <ul>
            {% for author in book.authors.all %}
            <li>{{ author.first_name }} {{ author.last_name}}</li>
            {% endfor %}
        </ul>

        
        <h3>List of authors</h3>
        <form action="/add_author_to_book/{{book.id}}/assign" method="POST">
            {% csrf_token %}
            <select name="author_id" id="author_id">
                {% for author in authors %}
                <option value="{{author.id}}">{{author.first_name}}</option>
                {% endfor %}
            </select>
            <button>Add Author</button>
        </form>
    </div>


</body>
</html>