<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div>
        <h1>{{author.first_name}} {{ author.last_name}}</h1>
        <p><strong>Id</strong> {{ author.id }}</p>
        <p><strong>Description</strong> {{ author.notes }}</p>
        <p><strong>Books</strong></p>
        <ul>
            {% for book in author.books.all %}
            <li>{{book.title}}</li>
            {% endfor %}
        </ul>

        <h3>Assign a Book</h3>
        <form action="/add_book_to_author/{{author.id}}/assign" method="POST">
            {% csrf_token %}
            <select name="book_id" id="book_id">
                {% for book in books %}
                <option value="{{book.id}}">{{book.title}}</option>
                {% endfor %}
            </select>
            <button>Add Book</button>
        </form>
    </div>
</body>
</html>